body {
    opacity: 0.9;
    background-color: ivory;
/*     background-image: url(bg.PNG); */
    background-size: cover;
    font-weight: bold;
    background-repeat: no-repeat;
    overflow: scroll;
}

.searchBar {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}


.form-control, .me-2 {
    animation: slide 1s 1;
  }
  
.me-2 {
    display: none;
  }

  .form-control, .clear-2 {
    animation: slide 1s 1;
  }
  
.clear-2 {
    display: none; 
  }

 .form-control, .me-1 {
    animation: slide 1s 1;
  }
  
.me-1 {
    display: none; 
  }


  .form-control, .clear-1 {
    animation: slide 1s 1;
  }
  
.clear-1 {
    display: none; 
  }


  .form-control, .me-3 {
    animation: slide 1s 1;
  }
  
.me-3 {
    display: none; 
  }

  .form-control, .clear-3 {
    animation: slide 1s 1;
  }
  
.clear-3 {
    display: none; 
    text-align: center;
  }

.tb {
    background-color: white;
}

.all-btn {
    display: flex;
    justify-content: space-between;
}
.all-btn {
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    border-radius: 50px;
    border-color: black;
}

.back-btn {
    width: 150px;
    height: 50px;
    margin-top: 13px;
    margin-bottom: 10px;
    position: relative;
    padding: 8px 16px;
    background: #b9e1a3;
    border-radius: 50px;
    border-color: black;
    cursor: pointer;
  }

.download {
    width: 150px;
    height: 50px;
    margin-top: 13px;
    margin-bottom: 10px;
    position: relative;
    padding: 8px 16px;
    background: #b9e1a3;
    border-radius: 50px;
    border-color: black;
    cursor: pointer;
  }
  
