<!-- <html> -->
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
</head>

<body>
    <div class="front_Page">
        <h1>Airbnb Scraper App</h1>
        <form action = "https://airbnbwebscraper.online/result" method = "post">
        <!-- 1. input for name(its imprtant to enter the name, this is what we access the Flask webserver) -->
            <label>Enter the city/island:</label>
            <input type="text" name = "city" required/>
            <label>Enter checkin date:</label>
            <input type="text" placeholder="Seperate with -, ex: 2023-03-12" name="checkin" id="checkin" required/>
            <label>Enter checkout date:</label>
            <input type="text" placeholder="Seperate with -, ex: 2023-03-12" name="checkout" id="checkout" required/>
            <label>Enter the number of guests:</label>
            <input type="text" name="num_people" required/>
            <label>Enter the desired total price:</label>
            <input type="text" placeholder="Do not include tax" name="target_price" required/>
            <!-- <button type="submit" name="submit" class="create-btn" onclick="this.classList.toggle('button--loading')">
                <span class="button__text">Submit</span> -->
            <!-- <button type="submit" name="submit" class="create-btn">Submit</button> -->
            <button type="submit" class="create-btn" id="load1" onclick="changeText()">
                <span>Submit</span>
            </button>

        </form>  
    </div>
</body>
</html>

<script>
    $(document).ready(function () {
        var dateFormat = "yy-mm-dd";
        var maxStay = 28; // Maximum stay in days

        $("#checkin").datepicker({
            dateFormat: dateFormat,
            minDate: 0, // Restrict check-in date to today or future dates
            onSelect: function (selectedDate) {
                var minDate = new Date(selectedDate);
                minDate.setDate(minDate.getDate() + 1); // Minimum check-out date is the day after check-in
                var maxDate = new Date(selectedDate);
                maxDate.setDate(maxDate.getDate() + maxStay); // Maximum check-out date

                $("#checkout").datepicker("option", "minDate", minDate);
                $("#checkout").datepicker("option", "maxDate", maxDate);
            }
        });

        $("#checkout").datepicker({
            dateFormat: dateFormat,
            minDate: 1, // Restrict check-out date to the day after check-in
        });
    });

    function changeText() {
        var button = document.getElementById("load1");
        var inputFields = document.querySelectorAll('input[required]');
    
        // Check if all required input fields are filled
        var allFieldsFilled = true;
        for (var i = 0; i < inputFields.length; i++) {
            if (inputFields[i].value.trim() === '') {
                allFieldsFilled = false;
                button.disabled = true;
            }
        }

        if (allFieldsFilled) {
        button.querySelector("span").innerText = "Loading...";
    } else {
        button.disabled = false;
        button.querySelector("span").innerText = "Submit";
    }
}
</script>
