<!-- <html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="front_Page">
        <h1>Airbnb Scraper App</h1>
<!--         <form action = "http://airbnbwebscraper.online/result" method = "post"> -->
        <form action = "http://sea-lion-app-69ji4.ondigitalocean.app/result" method = "post">
        <!-- 1. input for name(its imprtant to enter the name, this is what we access the Flask webserver) -->
            <label>Enter the city/island:</label>
            <input type="text" name = "city" required/>
            <label>Enter checkin date:</label>
            <input type="text" placeholder="Seperate with -, ex: 2023-03-12" name="checkin" required/>
            <label>Enter checkout date:</label>
            <input type="text" placeholder="Seperate with -, ex: 2023-03-12" name="checkout" required/>
            <label>Enter the number of guests:</label>
            <input type="text" name="num_people" required/>
            <label>Enter the desired total price:</label>
            <input type="text" placeholder="Do not include tax" name="target_price" required/>
            <!-- <button type="submit" name="submit" class="create-btn" onclick="this.classList.toggle('button--loading')">
                <span class="button__text">Submit</span> -->
            <!-- <button type="submit" name="submit" class="create-btn">Submit</button> -->
            <button type="submit" class="create-btn" id="load1" onclick="changeText()">
                <span>Submit</span>
            </button>

        </form>  
    </div>
</body>
</html>

<script>
    function changeText() {
        var button = document.getElementById("load1");
        var inputFields = document.querySelectorAll('input[required]');
    
        // Check if all required input fields are filled
        var allFieldsFilled = true;
        for (var i = 0; i < inputFields.length; i++) {
            if (inputFields[i].value.trim() === '') {
                allFieldsFilled = false;
                button.disabled = true;
            }
        }

        if (allFieldsFilled) {
        button.querySelector("span").innerText = "Loading...";
    } else {
        button.disabled = false;
        button.querySelector("span").innerText = "Submit";
    }
}
</script>
